body {
  padding: none;
  margin: none;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
}

#hello_message {
  display: flex;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100px;
  margin: 50px 0px;
}

#submessage {
  position: relative;
  bottom: 0;
}

#dash__container {
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding: 1rem 0rem;
  font-weight: bold;
  border: 2px solid rgb(76, 175, 208);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

#dash__container h1 {
  font-size: 2rem;
  background-color: #fafafa;
  border-radius: 10px;
  position: absolute;
  top: -48px;
  left: 3px;
  width: 15vw;
}

.tweet {
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
  width: 80%;
  border-bottom: 1px solid rgb(76, 175, 208);
}

.notification__container {
  margin: 1rem;
}
